body {
    color: #434455;
    background: #fff;
    font-family: "Roboto", sans-serif;   
}

header {
    flex-shrink: 0;
    height: 72px;
    flex-shrink: 0;    
    background:  #FFF;
    display: inline-flex;
    align-items: flex-start;
    gap: 40px; 
 } 

 h1 h2 h3 p {
    margin: 0;
}

.nav_name {
    border-bottom: 1px solid #e7e9fc;
    
} 

.container {
    display: flex; 
    margin: 0 auto;
    width: 1158px;  
    padding: 0 15px;
}
.nav-saite {
    display: flex;
    align-items: center;

}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.54em;
    text-transform: uppercase;
    text-decoration: inherit;
    color: #4d5ae5;
    margin-right: 76px ;
}
.name-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.54em;
    text-transform: uppercase;
    color: #2e2f42;   
}

.my-info {
    font-style: normal;
}

ul { 
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    gap: 40px;
 } 

.menu-item {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: inherit;
    padding: 24px 0;  
}

.menu-item:hover {
    color: #404bbf; 
}

.menu-item:focus {
    color: #404bbf;  
}

.main-contact {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: inherit;
    color: #434455;  
}

.section_one {
    background: #2e2f42;
    padding: 188px 0;  
}
.title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px; 
}
.nav_link {
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    display: block;
    min-width: 169px;
    border: none;  
    background-color: #4d5ae5;
    cursor: pointer; 
}
.nav_link:hover {
    background-color: #404BBF;
}

.nav_link:focus {
    background-color: #404BBF;
}
img {
    display: block;
}
.section_two {
    padding: 120px 0;   
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.quality {
    display: flex; 
    gap: 24px;
}
.quality-item {
    width: calc((100% - 72px) / 4);
}

.advantages {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.section_three {
    background: #f4f4fd;
    padding: 120px 0;
}
.team {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.professional-item {
    display: flex; 
    gap: 24px;
}
.foto {
    width: calc((100% - 72px) / 4);  
    border-radius: 0px 0px 4px 4px;
}
.professional-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;  
    text-align: center;
    margin-bottom: 8px;
}

.profession {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;  
    text-align: center;
}

.container_two {
    padding: 32px 0;     
}

.section_four {
    padding-top: 120px; 
    padding-bottom: 120px;  
    display: inline-block;
     

}

.portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}


.images {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    width: calc((100% - 48px) / 3);
}

.img_item {

    width: calc((100% - 48px) / 3);
}

.service {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.app {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}  

.product {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
.footer-item {
    background: #2e2f42;
    padding: 100px 0;
}
.logo-w {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; 
    display: inline-block;
    text-decoration: inherit;
    margin-bottom: 16px;
    display: inline-block;
}

.name-logos {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    display: inline-block;
}

.footer {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    display: inline-block;
}
