body {
    color: #434455;
    background-color:  #FFFFFF;
    font-family: "Roboto", sans-serif;   
}
header {
    flex-shrink: 0;
    height: 72px;
    flex-shrink: 0;    
background:  #FFF;
display: inline-flex;
align-items: flex-start;
gap: 40px; 
 } 

 h1 h2 h3 p {
    margin: 0;
     }
 .nav_name {
    border-bottom: 1px solid #e7e9fc;
} 
  img {
    display: block;
  }
.container {
    display: flex; 
    margin: 0 auto;
    width: 1158px;  
    padding: 0 15px;

 }
 .nav-saite {
    display: flex;
    align-items: center;
    gap: 40px;
 }

 .logo {
    
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.54px;
    text-transform: uppercase;  
    text-decoration: inherit;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px; 
}

.name-logo {
    color:  #2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17px; 
    letter-spacing: 0.54px;
    text-transform: uppercase;
  
}

ul { 
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    gap: 40px;
 }

 .menu-item {
    color: #2e2f42;
    text-decoration: inherit;
    padding: 24px 0;
    
    }
    .my-info {
        font-style: normal;
    }
    .main-contacts {
        color:  #434455;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em
    
    }
    .main-contact {
        color: #434455 ;
        font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: inherit;
    }
    
    .main-contact:hover {
        color: #404bbf;
    }
    
    .main-contact:focus {
        color: #404bbf;
    }
    
    button {
        cursor: pointer;
    background:  #4D5AE5;
    color:  #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
    }
    .menu-item:hover {
        color: #404bbf;
    }
    .menu-item:focus {
        color: #404bbf;
    }
    .section_one {
        background-color: #2e2f42;   
        padding: 188px 0;
    }
    
    .title {
        color: #ffffff;
        text-align: center;
        font-family: Roboto;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
        max-width: 496px;
       
    }
    
    .nav_link {
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;  
        border-radius: 4px; 
    }
    
    .nav_link:hover {
        background-color: #404BBF;
    }
    
    .nav_link:focus {
        background-color: #404BBF;
    }
    .section_two {
        padding: 120px 0;   
    }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .quality {
    display: flex; 
    gap: 24px;   
}

.quality-item {
    width: calc((100% - 72px) / 4);  
}
.advantages {    
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2E2F42;
    margin-bottom: 8px;    
}

.description {
    color:  #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.section_three {
    padding: 120px 0 ;
}
.professional-item {
    background-color: #F4F4FD;
    display: flex;
    gap: 24px;
}
.team {
    background-color: #FFFFFF ;
    color:  #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.foto {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 72px) / 4) ;
    border-radius: 0px 0px 4px 4px;    
}

.container_two {
    padding: 32px 0;     
}

.professional-name {
    color:  #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;  
    text-align: center;
    margin-bottom: 8px
}

.profession {
    color:  #434455;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center; 
}



.section_four {
    padding-top: 120px; 
    padding-bottom: 120px;  
    
}

.portfolio {
    background-color: #F4F4FD;
    color:  #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;  
    margin-bottom: 72px;
}

.product {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;   
}
.images {
    display: flex;
    flex-wrap: wrap;    
    column-gap: 24px;
    row-gap: 48px;  
    width: calc((100% - 48px) / 3);

}


  .img_item {
    width: calc((100% - 48px) / 3);
  }  

 .service {
    color: #2E2F42;
    font-size: 20px;  
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;  
    margin-bottom: 72px;
    margin-bottom: 8px;
 }
.app {
    color:  #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

.footer-item {
    padding: 100px 0;
}

.footer {
    color:  #F4F4FD;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.32px;  
}

footer {
background:  #2E2F42;
}

footer .name-logo {
color: #f4f4fd;
}













